
.button {
    width: 100px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 00px;
    color: #FFF;
    text-decoration: none;
    background: linear-gradient(#1879BD 50%, #084D79 50%);
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    margin: 0 auto;
}

table.blueTable {
  border: 1px solid #1C6EA4;
  width: 80%;
  text-align: center;
  border-collapse: collapse;
  color: #ffffff;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 1px 2px;
}
table.blueTable tbody td {  
  font-family: 'Nobile', sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #ffffff;
}
table.blueTable tr:nth-child(even) {
  background:transparent;
}
table.blueTable tr:nth-child(odd) {
  background:transparent;
}
table.blueTable thead {
  background: #AFB4F0;
  background: -moz-linear-gradient(top, #c3c7f4 0%, #b7bbf1 66%, #AFB4F0 100%);
  background: -webkit-linear-gradient(top, #c3c7f4 0%, #b7bbf1 66%, #AFB4F0 100%);
  background: linear-gradient(to bottom, #c3c7f4 0%, #b7bbf1 66%, #AFB4F0 100%);
  border-bottom: 2px solid #4A4A4A;
}
table.blueTable thead th {
  font-size: 13px;
  font-weight: 10px;
  font-family: 'Nobile', sans-serif;
  color: #ffffff;
  text-align: center;
  border-left: 2px solid #9EFFC4;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

img{
  border-collapse: collapse;
}

.icon{
    width:30px;
    height:30px;  
}
html, body {margin: 0; height: 100%; overflow: hidden}

.button:hover {
    background: linear-gradient(#678834 50%, #093905 50%);
}
.button:active {
    background: linear-gradient(#EB7723 50%, #A80000 50%);
}
body {
  background: #333;
}
.video-container {
  position: relative;
}
video {
  height: auto;
  vertical-align: middle;
  width: 100%;
}
.overlay-desc {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

available{
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.overlay-items{
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 20%; bottom: 0; left: 20%;
  display: flex;
  align-items: bottom;
  justify-content: center;
  width: 60%;
}
#container canvas, #overlay {
  position: absolute;
}
canvas {
  border: 1px solid black;
}

items {
  position: relative;
}
h1 {
  color: white;
  font-family: 'Nobile', sans-serif;
  font-size: 9vw;
  text-align: center;
}
h2 {
  color: white;
  font-family: 'Nobile', sans-serif;
  font-size: 3vw;
  text-align: center;
  position: absolute;
  top: 25%;
  left: 40%;
}

h3 {
  color: white;
  font-family: 'Nobile', sans-serif;
  font-size: 2vw;
  position: absolute;
  top: 5%;
  left: 70%;
}

h4{
  color: white;
  font-family: 'Nobile', sans-serif;
  font-size: 3vw;
  text-align: center;
  top: 25%;
  left: 40%;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

main {
  margin: 0 auto;
  width: 80%;
}

p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.1rem;
  line-height: 1.7rem;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  margin-top: 1%;
}

.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

.modal-content {
  background-color:transparent;
  margin: auto;
  width: 70%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

